<form action="ShowClientGet" method="get">
    <label>Customer Id: </label><input type="number" id="id" name="id" />
    <br />
    <label>Customer Name: </label><input type="text" id="name" name="name" />
    <br />
    <label>Customer Adress: </label><input type="text" id="address" name="address" />
    <br />
    <label>Customer Age: </label><input type="number" id="age" name="age" />
    <br />
    <input type="submit" value="Confirm" />
</form>